.index_banner{
	width:100%;
	height: 480px;
	background-color: #e9e9e9;

}
.banner_container{
	padding-top:44px;
	background-image: url("../image/banner-bg.png") ;
	background-repeat: no-repeat;
	background-position: 0px 44px;
	background-size: 274px,354px;
	height: 436px;
}
.index_banner ul{
	margin-top: 25px;
	width:1002px;
	overflow: hidden;
}
.index_banner ul>li{
	float:left;
	display: block;
	width:250px;
	height:85px;
	padding: 20px 18px 12px 20px;
	margin-right: 46px;
	
}
.focus{
    opacity: 0.9; 
    background-color: #1873a5;
    color:#ffffff;
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
}
.list_title{
	width:252px;
	height: 40px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.list_subtitle{
	color:#bababa;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
}
.banner_text{
	width:960px;
	height: 228px;
	text-align: right;
}
.title1{
	font-size: 18px;
	line-height: 20px;
	margin-top:20px;
}
.title2{
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
}
.service-menu{
	height:269px;
}
.lefticon{
	position:absolute;
	background-image: url('../image/icons.png');
	background-repeat: no-repeat;
	background-position:-11px -84px;
	top: 82px;
	left:-85px;
	width:32px;
	height:45px;
}
.righticon{
	position:absolute;
	background-image: url('../image/icons.png');
	background-repeat: no-repeat;
	background-position:-41px -84px;
	top: 82px;
	left:1008px;
	width:32px;
	height:45px;
}
.service-menu ul{
	width:1000px;
}
.service-menu ul li{
	float:left;
	/*display: inline-block;*/
	width:210px;
	height:252px;
	margin-top:-25px;
	background-color: #ffffff;
	margin-right: 38px; 
}
.icons{
	height: 164px;
	background-color: #006eaa;
	position: relative;
}
.icon_1{
	position:absolute;
	background-image: url("../image/icons.png");
	background-position: 0px 0px; 
	width:60px;
	height:60px;
	top: 56px;
	left:70px;
}
.icon_2{
	position:absolute;
	background-image: url("../image/icons.png");
	background-position: -68px 0px; 
	width:60px;
	height:60px;
	top: 56px;
	left:70px;
}
.icon_3{
	position:absolute;
	background-image: url("../image/icons.png");
	background-position: -140px 0px; 
	width:60px;
	height:60px;
	top: 56px;
	left:70px;
}
.icon_4{
	position:absolute;
	background-image: url("../image/icons.png");
	background-position: -210px 0px; 
	width:60px;
	height:60px;
	top: 56px;
	left:70px;
}